MONGO_URI=mongodb+srv://vikramvikass007_db_user:apEvIaONgCAJRs6w@cluster0.vxyfiib.mongodb.net/
EMAIL_USER=vikramvikass007@gmail.com
EMAIL_PASSWORD=hgluynvebxckfaqw
ADMIN_EMAIL=vikramvikass007@gmail.com
